<div class="container p-5 my-5 border">
    <div class="text-center">
        <h2>Raise Query</h2>
    </div>
    <br>
    <br>
    <div class="panel panel-default">
        
     
            <label class="raise" for="fname"><b>Title</b></label>
            <input type="text" id="fname" name="fname" class="textwidth"><br><br>
            <form  #form="ngForm" (ngSubmit)="RaiseQuery()" autocomplete="off">
            <div class="aligntitle">
            <label class="raise" for="fname"><b>Query</b></label>
         
            <textarea type="text"  name="raisequery" class="form-control1" rows="5" cols="4" placeholder="maximum 200words" id="raisequery-name"
            placeholder="Raise Query here" [(ngModel)]="raisequery.query"></textarea>
            <div class="mt-2 text-right"><button class="custom-btn btn-1 btn-2" type="submit">Raise
                    Query</button>
                
                    </div>
     
    </div>
</form>
</div>


