<app-navbar></app-navbar>
<div class="container">
    <div class=" profile-card border shadow-sm">
        <div class="row">
            <div class="col h1 fw-bold">My Profile</div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2"><b>Name</b></div>
            <div class="col-md-6">Kavya</div>
            <div class="col-md-2"><b>Role</b></div>
            <div class="col-md-2">User</div>
          </div>
         
          
          <div class="row mt-5">
            <div class="col-md-2"><b>Email Address</b></div>
            <div class="col-md-6">Kavya@gmail.com</div>
            <div class="col-md-2"><b>Date of Joining</b></div>
            <div class="col-md-2">03/02/2020</div>
          </div>
          
          <div class="row mt-5">
            <div class="col-md-2"><b>Department</b></div>
            <div class="col-md-6">.Net</div>
            <div class="col-md-2"><b>Designation</b></div>
            <div class="col-md-2">Senior Engineer</div>
          </div>
          <div class="row mt-5">
            <div class="col-md-2"><b>Mobile Number</b></div>
            <div class="col-md-6">9876567876</div>
            <div class="col-md-2"><b>Date of Joining</b></div>
            <div class="col-md-2">03/02/2020</div>
          </div> 
         
          <div class="row mt-5">
            <div class="col-md-2"><b>Date of Birth</b></div>
            <div class="col-md-6">27/01/2001</div>
            <div class="col-md-2"><b>Number of Articles Published</b></div>
            <div class="col-md-2">5</div>
          </div>
    </div>
</div>
<app-footer></app-footer>