<app-navbar></app-navbar>

<div class="container p-5 my-5 border">
    <div class="text-center">
        <h1>Web API</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Author name:Raghunath</div>
        <div class="panel-body">Date:22/04/22</div>
        <div class="text-center">
            <img src="img/ar.jpg" class="img-fluid" />
        </div>
        <p> The ASP.NET Web API is an extensible framework for building HTTP based services that can be accessed
            in
            different applications on different platforms such as web, windows, mobile etc. It works more or
            less the
            same way as ASP.NET MVC web application except that it sends data as a response instead of html
            view. It is
            like a webservice or WCF service but the exception is that it only supports HTTP protocol.
            The ASP.NET Web API is an extensible framework for building
                HTTP based services that can be accessed in different applications on different platforms such
                as web, windows, mobile etc. It works more or less the
                same way as ASP.NET MVC web application except that it sends data as a response instead of html
                view. It is
                like a webservice or WCF service but the exception is that it only supports HTTP protocol.The
                ASP.NET Web API is an extensible framework for building
                HTTP based services that can be accessed in different applications on different platforms such
                as web, windows, mobile etc. It works more or less the
                same way as ASP.NET MVC web application except that it sends data as a response instead of html
                view. It is
                like a webservice or WCF service but the exception is that it only supports HTTP protocol.The
                ASP.NET Web API is an extensible framework for building
                HTTP based services that can be accessed in different applications on different platforms such
                as web, windows, mobile etc. It works more or less the
                same way as ASP.NET MVC web application except that it sends data as a response instead of html
                view. It is
                like a webservice or WCF service but the exception is that it only supports HTTP protocol.The
                ASP.NET Web API is an extensible framework for building
                HTTP based services that can be accessed in different applications on different platforms such
                as web, windows, mobile etc. It works more or less the
                same way as ASP.NET MVC web application except that it sends data as a response instead of html
                view. It is
                like a webservice or WCF service but the exception is that it only supports HTTP protocol.The
                ASP.NET Web API is an extensible framework for building
                HTTP based services that can be accessed in different applications on different platforms such
                as web, windows, mobile etc. It works more or less the
                same way as ASP.NET MVC web application except that it sends data as a response instead of html
                view. It is
                like a webservice or WCF service but the exception is that it only supports HTTP protocol.The
                ASP.NET Web API is an extensible framework for building
                HTTP based services that can be accessed in different applications on different platforms such
                as web, windows, mobile etc. It works more or less the
                same way as ASP.NET MVC web application except that it sends data as a response instead of html
                view. It is
                like a webservice or WCF service but the exception is that it only supports HTTP protocol.The
                ASP.NET Web API is an extensible framework for building
                HTTP based services that can be accessed in different applications on different platforms such
                as web, windows, mobile etc. It works more or less the
                same way as ASP.NET MVC web application except that it sends data as a response instead of html
                view. It is
                like a webservice or WCF service but the exception is that it only supports HTTP protocol.The
                ASP.NET Web API is an extensible framework for building
                HTTP based services that can be accessed in different applications on different platforms such
                as web, windows, mobile etc. It works more or less the
                same way as ASP.NET MVC web application except that it sends data as a response instead of html
                view. It is
                like a webservice or WCF service but the exception is that it only supports HTTP protocol.The
                ASP.NET Web API is an extensible framework for building
                HTTP based services that can be accessed in different applications on different platforms such
                as web, windows, mobile etc. It works more or less the
                same way as ASP.NET MVC web application except that it sends data as a response instead of html
                view. It is
                like a webservice or WCF service but the exception is that it only supports HTTP protocol.The
                ASP.NET Web API is an extensible framework for building
                HTTP based services that can be accessed in different applications on different platforms such
                as web, windows, mobile etc. It works more or less the
                same way as ASP.NET MVC web application except that it sends data as a response instead of html
                view. It is
                like a webservice or WCF service but the exception is that it only supports HTTP protocol.The
                ASP.NET Web API is an extensible framework for building
                HTTP based services that can be accessed in different applications on different platforms such
                as web, windows, mobile etc. It works more or less the
                same way as ASP.NET MVC web application except that it sends data as a response instead of html
                view. It is
                like a webservice or WCF service but the exception is that it only supports HTTP
                protocol.
          

        </p>
        
    </div>
    <br>
    <hr>
    <br>
    <div class="bg-white">
        <div class="d-flex flex-row fs-12">
            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
        </div>
    </div>
    <div class=" bg-light p-2">
        <div class="d-flex flex-row align-items-start"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
        <div class="mt-2 text-right">
            <button class=" buttonp btn btn-primary btn-sm shadow-none ml-1" type="button">Post comment</button>
            <button class=" buttonu btn btn-primary btn-sm shadow-none ml-1" type="button">Cancel</button>
        </div>
    </div>

